[Unit]
Description=Kubernetes Dashboard Service
After=network.target

[Service]
User=root
WorkingDirectory=/tmp/kubernetes-dashboard
ExecStart=/usr/bin/python3 /tmp/kubernetes-dashboard/k8s_dashboard_server_updated.py
Restart=always
RestartSec=10
StandardOutput=append:/tmp/kubernetes-dashboard/logs/k8s_dashboard.log
StandardError=append:/tmp/kubernetes-dashboard/logs/k8s_dashboard.log

[Install]
WantedBy=multi-user.target
